@charset "UTF-8";
/* CSS Document */
.value {
    padding-left:15px;
    background-position: 50% 50%;
    background-repeat:no-repeat;
}

/* Status icons */
.icon64-status-true {background-image:url(../images/status/check_64.png);}
.icon64-status-false {background-image:url(../images/status/wrong_64.png);}
.icon64-status-active {background-image:url(../images/status/green_indicator_64.png);}
.icon64-status-inactive {background-image:url(../images/status/red_indicator_64.png);}
.icon64-status-unknown {background-image:url(../images/status/grey_indicator_64.png);}
.icon64-status-error {background-image:url(../images/status/wrong_64.png);}
.icon64-status-success {background-image:url(../images/status/check_64.png);}
.icon64-status-info {background-image:url(../images/status/info_64.png);}
.icon64-status-warning {background-image:url(../images/status/warning_64.png);}
.icon64-status-debug {background-image:url(../images/status/info_64.png);}
.icon64-status-primary {background-image:url(../images/status/star_64.png);}
.icon64-status-unknown-green {background-image:url(../images/status/unknown_green_64.png);}
.icon64-status-unknown-red {background-image:url(../images/status/unknown_red_64.png);}
.icon64-status-battery-100 {background-image:url(../images/status/battery_100_64.png);}
.icon64-status-battery-80 {background-image:url(../images/status/battery_80_64.png);}
.icon64-status-battery-50 {background-image:url(../images/status/battery_50_64.png);}
.icon64-status-battery-30 {background-image:url(../images/status/battery_30_64.png);}
.icon64-status-battery-20 {background-image:url(../images/status/battery_20_64.png);}
.icon64-status-battery-10 {background-image:url(../images/status/battery_10_64.png);}
.icon64-status-battery-0 {background-image:url(../images/status/battery_0_64.png);}

.icon32-status-true {background-image:url(../images/status/check_32.png);}
.icon32-status-false {background-image:url(../images/status/wrong_32.png);}
.icon32-status-active {background-image:url(../images/status/green_indicator_32.png);}
.icon32-status-inactive {background-image:url(../images/status/red_indicator_32.png);}
.icon32-status-unknown {background-image:url(../images/status/grey_indicator_32.png);}
.icon32-status-error {background-image:url(../images/status/wrong_32.png);}
.icon32-status-success {background-image:url(../images/status/check_32.png);}
.icon32-status-info {background-image:url(../images/status/info_32.png);}
.icon32-status-warning {background-image:url(../images/status/warning_32.png);}
.icon32-status-debug {background-image:url(../images/status/info_32.png);}
.icon32-status-primary {background-image:url(../images/status/star_32.png);}
.icon32-status-unknown-green {background-image:url(../images/status/unknown_green_32.png);}
.icon32-status-unknown-red {background-image:url(../images/status/unknown_red_32.png);}
.icon32-status-battery-100 {background-image:url(../images/status/battery_100_32.png);}
.icon32-status-battery-80 {background-image:url(../images/status/battery_80_32.png);}
.icon32-status-battery-50 {background-image:url(../images/status/battery_50_32.png);}
.icon32-status-battery-30 {background-image:url(../images/status/battery_30_32.png);}
.icon32-status-battery-20 {background-image:url(../images/status/battery_20_32.png);}
.icon32-status-battery-10 {background-image:url(../images/status/battery_10_32.png);}
.icon32-status-battery-0 {background-image:url(../images/status/battery_0_32.png);}

.icon16-status-true {background-image:url(../images/status/check_16.png);}
.icon16-status-false {background-image:url(../images/status/wrong_16.png);}
.icon16-status-active {background-image:url(../images/status/green_indicator_16.png);}
.icon16-status-inactive {background-image:url(../images/status/red_indicator_16.png);}
.icon16-status-unknown {background-image:url(../images/status/grey_indicator_16.png);}
.icon16-status-error {background-image:url(../images/status/wrong_16.png);}
.icon16-status-success {background-image:url(../images/status/check_16.png);}
.icon16-status-info {background-image:url(../images/status/info_16.png);}
.icon16-status-warning {background-image:url(../images/status/warning_16.png);}
.icon16-status-debug {background-image:url(../images/status/info_16.png);}
.icon16-status-primary {background-image:url(../images/status/star_16.png);}
.icon16-status-unknown-green {background-image:url(../images/status/unknown_green_16.png);}
.icon16-status-unknown-red {background-image:url(../images/status/unknown_red_16.png);}
.icon16-status-battery-100 {background-image:url(../images/status/battery_100_16.png);}
.icon16-status-battery-80 {background-image:url(../images/status/battery_80_16.png);}
.icon16-status-battery-50 {background-image:url(../images/status/battery_50_16.png);}
.icon16-status-battery-30 {background-image:url(../images/status/battery_30_16.png);}
.icon16-status-battery-20 {background-image:url(../images/status/battery_20_16.png);}
.icon16-status-battery-10 {background-image:url(../images/status/battery_10_16.png);}
.icon16-status-battery-0 {background-image:url(../images/status/battery_0_16.png);}


.icon16-status-plugin-up {background-image:url(../images/status/plugin_up_16.png);}
.icon16-status-plugin-down {background-image:url(../images/status/plugin_down_16.png);}
.icon16-status-external-up {background-image:url(../images/status/external_up_16.png);}
.icon16-status-external-down {background-image:url(../images/status/external_down_16.png);}

.icon16-status-loading {background-image:url('../images/ajax-loader.gif')}

/* Action */
.icon16-action-play { background-image:url(../images/action/play_16.png);}
.icon16-action-pause { background-image:url(../images/action/pause_16.png);}
.icon16-action-help { background-image:url(../images/action/help_16.png);}
.icon16-action-add { background-image:url(../images/action/plus_16.png);}
.icon16-action-del { background-image:url(../images/action/minus_16.png);}
.icon16-action-update { background-image:url(../images/action/pen_16.png);}
.icon16-action-submit { background-image:url(../images/status/check_16.png);}
.icon32-action-submit { background-image:url(../images/status/check_32.png);}
.icon16-action-cancel { background-image:url(../images/status/wrong_16.png);}
.icon32-action-cancel { background-image:url(../images/status/wrong_32.png);}
.icon16-action-password { background-image:url(../images/action/key_16.png);}
.icon16-action-save { background-image:url(../images/action/save_16.png);}
.icon16-action-reset { background-image:url(../images/action/refresh_16.png);}
.icon16-action-menu { background-image:url(../images/action/menu_16.png);}
.icon16-action-customize { background-image:url(../images/action/customize_16.png);}
.icon32-action-customize { background-image:url(../images/action/customize_32.png);}
.icon64-action-customize { background-image:url(../images/action/customize_64.png);}
.icon16-action-models { background-image:url(../images/action/models_16.png);}
.icon16-action-refresh { background-image:url(../images/action/refresh_16.png);}
.icon16-action-groups { background-image:url(../images/action/groups_16.png);}
.icon32-action-groups { background-image:url(../images/action/groups_32.png);}
.icon64-action-groups { background-image:url(../images/action/groups_64.png);}
.icon16-action-btreset { background-image:url(../images/action/btreset_16.png);}
.icon32-action-btreset { background-image:url(../images/action/btreset_32.png);}
.icon64-action-btreset { background-image:url(../images/action/btreset_64.png);}
.icon16-action-actions { background-image:url(../images/action/cmd_actions_16.png);}
.icon32-action-actions { background-image:url(../images/action/cmd_actions_32.png);}
.icon64-action-actions { background-image:url(../images/action/cmd_actions_64.png);}
.icon16-action-zoomin { background-image:url(../images/action/zoom_in_16.png);}
.icon32-action-zoomin { background-image:url(../images/action/zoom_in_32.png);}
.icon64-action-zoomin { background-image:url(../images/action/zoom_in_64.png);}
.icon16-action-zoomout{ background-image:url(../images/action/zoom_out_16.png);}
.icon32-action-zoomout { background-image:url(../images/action/zoom_out_32.png);}
.icon64-action-zoomout { background-image:url(../images/action/zoom_out_64.png);}

.icon16-action-next { background-image:url(../images/action/right_16.png);}
.icon16-action-previous { background-image:url(../images/action/left_16.png);}
.icon16-action-up { background-image:url(../images/action/up_16.png);}
.icon16-action-down { background-image:url(../images/action/down_16.png);}

.icon16-action-go_left { background-image:url(../images/action/go_left_16.png);}
.icon16-action-go_right { background-image:url(../images/action/go_right_16.png);}
.icon32-action-go_left { background-image:url(../images/action/go_left_32.png);}
.icon32-action-go_right { background-image:url(../images/action/go_right_32.png);}
.icon64-action-go_left { background-image:url(../images/action/go_left_64.png);}
.icon64-action-go_right { background-image:url(../images/action/go_right_64.png);}
.icon128-action-go_left { background-image:url(../images/action/go_left_128.png);}
.icon128-action-go_right { background-image:url(../images/action/go_right_128.png);}

.icon16-action-test { background-image:url(../images/action/test_tools_16.png);}
.icon32-action-test { background-image:url(../images/action/test_tools_32.png);}
.icon64-action-test { background-image:url(../images/action/test_tools_64.png);}

.icon16-action-processing_f6f6f6 { background-image:url(../images/action/processing_f6f6f6_16.gif);}
.icon32-action-processing_f6f6f6 { background-image:url(../images/action/processing_f6f6f6_32.gif);}
.icon64-action-processing_f6f6f6 { background-image:url(../images/action/processing_f6f6f6_64.gif);}

.icon16-action-processing_ffffff { background-image:url(../images/action/processing_ffffff_16.gif);}
.icon32-action-processing_ffffff { background-image:url(../images/action/processing_ffffff_32.gif);}
.icon64-action-processing_ffffff { background-image:url(../images/action/processing_ffffff_64.gif);}

.icon16-action-remove { background-image:url(../images/action/delete_16.png);}
