{% extends "base/base.html" %}

{% block content %}
<div class="container">


    <button type="button" id="create_new_node" class="btn btn-primary" data-toggle="modal" data-target="#create_node">
      <span class='glyphicon glyphicon-download-alt' aria-hidden='true'></span> Create a node
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="create_node" tabindex="-1" role="dialog" aria-labelledby="createnodelInstructions" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Creating virtual device</h4>
          </div>
          <div class="modal-body">
            <p>Create a new virtual node by copy one who must be include in a network (controller)</p>
            <label for="listNodes">Select the node source :</label>
            <select class='form-control actdisable' id='listNodes' >
                    <option value="" style="display: none" selected>Chose a node</option>
                    {% for driver in listdrivers %}
                        {% set homeID = manager.matchHomeID(driver.homeId) %}
                        {% for node in listnodes %}
                            {% if node.homeId ==  driver.homeId %}
                                <option value="{{ homeID }}.{{ node.nodeId }}">{{ homeID }}.{{ node.nodeId }} - {{ node.GetProductName }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="createnode" type="button" class="btn btn-primary" data-dismiss="modal">Create</button>
          </div>
        </div>
      </div>
    </div>

    {% set nodesToInclude = [] %}
    {% for node in listnodes %}
        {% if not node.IsInclude %}
            {% if  nodesToInclude.append(node) %}{% endif %}
        {% endif %}
    {% endfor %}
    {% if  nodesToInclude|length > 0 %}
        <h2>Node not include in a network</h2>
            <div class="list-group">
                <h3 class="list-group-item">
                Nodes list
                <span class="badge">{{ nodesToInclude|length  }}</span>
                </h3>
                {% for node in nodesToInclude %} 
                    {% if node.name %}
                        {% set extraTxt = "%s -- "%node.name %}
                    {% else %}
                        {%set extraTxt = "" %}
                    {% endif %}
                    <li class="list-group-item">
                    {{ node.nodeId }} -  {{ extraTxt }} {{ node.GetProductName }}
                    <button id="include_{{ node.nodeId }}" name="{{ node.nodeId }} -  {{ extraTxt }} {{ node.GetProductName }}" type="button" class="btn btn-xs btn-primary pull-right">Inclusion</button>
                    </li>
                {% endfor %}
            </div>
    {% endif %}
    {% if listdrivers|length > 0 %}
      {% for driver in listdrivers %}
        <h2>Network on HomeID {{ manager.matchHomeID(driver.homeId) }} (Serial port : {{ driver.serialport }}) </h2>
        <div class="row">
            {% if driver.IsInIncludeState %}
                <button type="button" id="inclusioncmd_{{ driver.homeId }}" class="btn btn-info">
                  <span id="inclusioncmdic_{{ driver.homeId }}" class='glyphicon glyphicon-record' aria-hidden='true' value='stop'></span>
                  <span id="inclusioncmdtx_{{ driver.homeId }}"> Stop Inclusion Mode</span>
                </button>
            {% else %}
                <button type="button" id="inclusioncmd_{{ driver.homeId }}" class="btn btn-primary">
                  <span id="inclusioncmdic_{{ driver.homeId }}" class='glyphicon glyphicon-log-in' aria-hidden='true' value='start'></span>
                  <span id="inclusioncmdtx_{{ driver.homeId }}"> Start Inclusion Mode</span>
                </button>
            {% endif %}
            {% if driver.IsInExcludeState %}
                <button type="button" id="exclusioncmd_{{ driver.homeId }}" class="btn btn-danger pull-right">
                  <span id="exclusioncmdic_{{ driver.homeId }}" class='glyphicon glyphicon-record' aria-hidden='true' value='stop'></span>
                  <span id="exclusioncmdtx_{{ driver.homeId }}"> Stop Exclusion Mode</span>
                </button>
            {% else %}
                <button type="button" id="exclusioncmd_{{ driver.homeId }}" class="btn btn-warning pull-right">
                  <span id="exclusioncmdic_{{ driver.homeId }}" class='glyphicon glyphicon-log-out' aria-hidden='true' value='start'></span>
                  <span id="exclusioncmdtx_{{ driver.homeId }}"> Start Exclusion Mode</span>
                </button>
            {% endif %}
        <div>
            <div class="list-group">
                <h3 class="list-group-item">
                Nodes list
                <span class="badge">{{ manager.getListNodeId(driver.homeId)|length }}</span>
                </h3>
                {% for node in listnodes %} 
                    {% if node.homeId ==  driver.homeId %}
                        {% if node.name %}
                            {% set extraTxt = "%s -- "%node.name %}
                        {% else %}
                            {%set extraTxt = "" %}
                        {% endif %}
                        <a class="list-group-item" href="/virtualnodes/{{ manager.matchHomeID(driver.homeId) }}.{{ node.nodeId }}">
                        <span class='glyphicon glyphicon-chevron-right' aria-hidden='true'></span> 
                        {{ node.nodeId }} -  {{ extraTxt }} {{ node.GetProductName }}
                        <button id="exclude_{{ node.homeId }}_{{ node.nodeId }}" name="{{ node.nodeId }} -  {{ extraTxt }} {{ node.GetProductName }}" type="button" class="btn btn-xs btn-warning pull-right">Exclusion</button>
                        {% if node.IsFailed %}
                            <span class="label label-info status status-label status-failed pull-right"> Failed </span>
                        {% else %}
                            <span class="label label-info status status-label status-alive pull-right">  Alive </span>
                        {% endif %}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
      {% endfor %}

    {% else %}
        <div class="alert alert-warning">Pas de driver pour réseaux zwave trouvé, verifier le manager.</div>
    {% endif %}
    
    <!-- Modal Inclusion-->
    <div class="modal fade" id="confirm_include_node" tabindex="-1" role="dialog" aria-labelledby="includenodelInstructions" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="includeModalLabel">Node Inclusion</h4>
          </div>
          <div class="modal-body">
            <p>Include node in a network (controller)</p>
            <p>Replace a failed node if this mode is activate.</p>
            <p id="nodetoinclude"></p>
            <label for="listCtrl">Select the network :</label>
            <select class='form-control actdisable' id='listCtrl' >
                    <option value="" style="display: none" selected>Chose a controller</option>
                    {% for driver in listdrivers %}
                            {% if driver.homeId != 0 %}
                                <option value="{{ driver.homeId }}">{{ manager.matchHomeID(driver.homeId) }} (Serial port : {{ driver.serialport }})</option>
                            {% endif %}
                    {% endfor %}
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="includenode" type="button" class="btn btn-primary" data-dismiss="modal">Inclusion (with replace in case)</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Exclusion-->
    <div class="modal fade" id="confirm_exclude_node" tabindex="-1" role="dialog" aria-labelledby="excludenodelInstructions" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="excludeModalLabel">Node Exclusion</h4>
          </div>
          <div class="modal-body">
            <p>Confirme the exclusion of node from a network (controller)</p>
            <h4 id="nodetoexclude"></h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="excludenode" type="button" class="btn btn-primary" data-dismiss="modal">Exclusion</button>
          </div>
        </div>
      </div>
    </div>    

</div>


<script type="text/javascript">
  $( document ).ready(function() {
    $('#createnode').click(function() {
        if ($('#listNodes').val() != "") {
            $.getJSON('/virtualnodes/createnode/copy/' + $('#listNodes').val(), {}, function(data, result) {
                if (data.result == 'error') {
                    new PNotify({
                            type: 'error',
                            title: 'Invalid input',
                            text: data.msg,
                            delay: 6000
                    });
                } else {
                    new PNotify({
                        type: 'success',
                        title: 'Node Created',
                        text: data.msg,
                        delay: 2000
                    });
                    setTimeout(function() { window.location.href = "/virtualnodes" }, 2000);
                };
            });
        };
    });
    $("[id^='include_']").click(function(){
        var nodeId = this.id.split("_")[1];
        $('#nodetoinclude').attr('nodeId', nodeId).text(this.name);
        $('#confirm_include_node').modal();
    });
    
    $('#includenode').click(function() {
        var homeId = $('#listCtrl').val();
        var nodeId = $('#nodetoinclude').attr('nodeId');
        if (homeId != "") {
            $.getJSON('/virtualnodes/includenode/' + homeId +'/' + nodeId, {}, function(data, result) {
                if (data.result == 'error') {
                    new PNotify({
                            type: 'error',
                            title: 'Invalid input',
                            text: data.msg,
                            delay: 6000
                    });
                } else {
                    new PNotify({
                        type: 'success',
                        title: 'Node is include',
                        text: data.msg,
                        delay: 2000
                    });
                    setTimeout(function() { window.location.href = "/virtualnodes" }, 2000);
                };
            });
        };
    });
    
    $("[id^='inclusioncmd_']").click(function(){
        var homeId = this.id.split("_")[1];
        var cmd = $("#inclusioncmdic_"+homeId).attr('value');
        if (homeId != "") {
            $.getJSON('/virtualnodes/inclusion/' + homeId +'/' + cmd, {'mode':'ADD_NODE_ANY'}, function(data, result) {
                if (data.status) {
                    $("#inclusioncmdic_"+homeId).removeClass('glyphicon-log-in').addClass('glyphicon-record');
                    $("#inclusioncmdic_"+homeId).attr('value','stop');
                    $("#inclusioncmd_"+homeId).removeClass('btn-primary').addClass('btn-info');
                    $("#inclusioncmdtx_"+homeId).text(' Stop inclusion mode');
                } else {
                    $("#inclusioncmdic_"+homeId).removeClass('glyphicon-record').addClass('glyphicon-log-in');
                    $("#inclusioncmdic_"+homeId).attr('value','start');
                    $("#inclusioncmd_"+homeId).removeClass('btn-info').addClass('btn-primary');
                    $("#inclusioncmdtx_"+homeId).text(' Start inclusion mode');
                };
                if (data.result == 'error') {
                    new PNotify({
                            type: 'error',
                            title: 'Invalid input',
                            text: data.msg,
                            delay: 6000
                    });
                } else {
                    new PNotify({
                        type: 'success',
                        title: 'Controller inclusion mode',
                        text: data.msg,
                        delay: 4000
                    });
                };
            });
        }; 
    });
    
    $("[id^='exclude_']").click(function(){
        var refId = this.id.split("_");
        $('#nodetoexclude').attr('homeId',refId[1]).attr('nodeId',refId[2]).text(this.name);
        $('#confirm_exclude_node').modal();
        return false;
    });

    $('#excludenode').click(function() {
        var homeId = $('#nodetoexclude').attr('homeId');
        var nodeId = $('#nodetoexclude').attr('nodeId');
        if (homeId != "") {
            $.getJSON('/virtualnodes/excludenode/' + homeId +'/' + nodeId, {}, function(data, result) {
                if (data.result == 'error') {
                    new PNotify({
                            type: 'error',
                            title: 'Invalid input',
                            text: data.msg,
                            delay: 6000
                    });
                } else {
                    new PNotify({
                        type: 'success',
                        title: 'Node is exclude',
                        text: data.msg,
                        delay: 4000
                    });
                    setTimeout(function() { window.location.href = "/virtualnodes" }, 2000);
                };
            });
        };
    });

    $("[id^='exclusioncmd_']").click(function(){
        var homeId = this.id.split("_")[1];
        var cmd = $("#exclusioncmdic_"+homeId).attr('value');
        if (homeId != "") {
            $.getJSON('/virtualnodes/exclusion/' + homeId +'/' + cmd, {'mode':'REMOVE_NODE_ANY'}, function(data, result) {
                if (data.status) {
                    $("#exlusioncmdic_"+homeId).removeClass('glyphicon-log-out').addClass('glyphicon-record');
                    $("#exclusioncmdic_"+homeId).attr('value','stop');
                    $("#exclusioncmd_"+homeId).removeClass('btn-warning').addClass('btn-danger');
                    $("#exclusioncmdtx_"+homeId).text(' Stop exclusion mode');
                } else {
                    $("#exclusioncmdic_"+homeId).removeClass('glyphicon-record').addClass('glyphicon-log-out');
                    $("#exclusioncmdic_"+homeId).attr('value','start');
                    $("#exclusioncmd_"+homeId).removeClass('btn-danger').addClass('btn-warning');
                    $("#exclusioncmdtx_"+homeId).text(' Start exclusion mode');
                };
                if (data.result == 'error') {
                    new PNotify({
                            type: 'error',
                            title: 'Invalid input',
                            text: data.msg,
                            delay: 6000
                    });
                } else {
                    new PNotify({
                        type: 'success',
                        title: 'Controller exclusion mode',
                        text: data.msg,
                        delay: 4000
                    });
                };
            });
        }; 
    });
  });
</script>
{% endblock %}
